<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Hublot</title>
    <link rel="stylesheet" href="libs/bootstrap4/css4/bootstrap.min.css"/>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="libs/bootstrap4/js4/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/craftman.css"/>
    <link rel="stylesheet" href="css/navbarOnly.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css" rel="stylesheet">
</head>
<body>
<header>
    <nav class="navbar navbar-light navbar-expand-md bg-white justify-content-md-center justify-content-start v-myNav">
        <button onclick="OpenCollapse()" class="navbar-toggler ml-1" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand v-mybrand" href="#">HUBLOT</a>
        <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="collapsingNavbar2">
            <ul class="navbar-nav mx-auto text-md-center text-left navbar-nav-1">
                <li class="nav-item">
                    <a class="nav-link text-black nav-link-hover" href="#"><span>WATCHES</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black nav-link-hover" href="#">OUR WORLD</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-black nav-link-hover" href="#">BOUTIQUES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black nav-link-hover" href="/hai-nam">HUBLOTISTA</a>
                </li>

            </ul>
            <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap navbar-nav-2">
                <li class="nav-item"><a class="nav-link text-black" href="#"><i class='far fa-heart'></i></a> </li>
                <li class="nav-item"><a class="nav-link text-black openBtn" href="#" onclick="OpenSearch()"><i class="fa fa-search"></i></a> </li>
                <li class="nav-item"><a class="nav-link text-black" href="#"><i class="fab fa-opencart"></i></a> </li>
            </ul>
        </div>
        </div>
        <div id="myOverlay" class="v-overlay">
            <span class="v-closebtn" onclick="CloseSearch()" title="Close Search">x</span>
            <div class="v-overlay-content">
                <form action="">
                    <input type="text" placeholder="Search for..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </nav>
</header>
<!--Intro Clip-->
    <div class="introduction">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12 intro-video">
                    <video class="myVideo" id="myVideo-1" autoplay playsinline loop muted>
                        <source src="videos/craftman/manufacture-machine-2.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-12 intro-text">
                    <h6 data-aos="zoom-in-down">OUR WORLD</h6>
                    <h1 data-aos="zoom-in-down">THE ART OF FUSION</h1>
                </div>
            </div>
        </div>
    </div>

<!--    Quote-->
    <div class="introduction-quote">
        <div class="container-fluid">
            <div class="row  intro-quote">
                <div class="col-8 offset-2"  data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
                    <div class="quote-text">
                        <p>“The Hublot manufacture possesses all the necessary know-how and infrastructure
                            to make the future of watchmaking a reality today.”</p>
                    </div>
                    <div class="quote-author">
                        <p>Ricardo Guadalupe</p>
                    </div>
                    <div class="quote-author-position">
                        <p>CEO</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--Presentation 3 Parts-->

    <div class="presentation">
        <div class="container-fluid">
            <div class="row" id="presentation-sticky">

                <div class="col-lg-4 col-md-12 pres-col active" id="id1">
                    <div class="pres-num">
                        <h1 data-aos="flip-left">01</h1>
                    </div>
                    <div class="pres-text">
                        <h3><a href="#part-one">MATERIAL</a></h3>
                    </div>
                    <div class="pres-text-hidden">
                        <p>THE ART OF FUSION</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 pres-col" id="id2">
                    <div class="pres-num">
                        <h1 data-aos="flip-left">02</h1>
                    </div>
                    <div class="pres-text">
                        <h3><a href="#part-two">MOVEMENTS</a></h3>
                    </div>
                    <div class="pres-text-hidden">
                        <p>PIONEERING MOVEMENTS</p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 pres-col" id="id3">
                    <div class="pres-num">
                        <h1 data-aos="flip-left">03</h1>
                    </div>
                    <div class="pres-text">
                        <h3><a href="#part-three">MANUFACTURER</a></h3>
                    </div>
                    <div class="pres-text-hidden">
                        <p>A MANUFACTURER OF THE FURURE</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

<!--Part1-->
    <div id="part-one" class="part-one">
        <div class="container-fluid">
            <div class="one-number number-sticky">
                <h1 data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-duration="2100">01</h1>
            </div>
            <div class="row">

                <div class="col-lg-6 col-md-12">

                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="one-text">
                        <h1 data-aos="fade-left"  data-aos-duration="1000">MATERIALS</h1>
                        <h3 data-aos="fade-up" data-aos-duration="1000">Innovation is in our DNA, passion is our driving force. Far beyond established codes.
                            A complete departure from conventions.</h3>
                        <p data-aos="fade-up" data-aos-duration="1000">Hublot is the first brand to have dared to combine gold and rubber in the same watch, becoming a master
                            of the “Art of Fusion”. The fusion of past and present in a futuristic watch. The fusion of traditional,
                            modern and pioneering materials. The fusion between the craftsmanship of watchmaking and the power of an
                            innovative design identity.</p>
                        <p data-aos="fade-up" data-aos-duration="1000">The fusion between conventional mechanisms and their unique construction. And finally, the fusion of crafts within
                            the Manufacture, where the entire range of talents and skills work together to create watches that are second to none.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <video class="myVideo" autoplay playsinline loop muted>
                        <source src="videos/craftman/magic-gold-mix.mp4" type="video/mp4"/>
                    </video>
                </div>
            </div>
        </div>
    </div>


<!--Center-->
    <div class="center-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 data-aos="zoom-in">HUBLOT MATERIALS</h1>
                </div>
                <div class="col-lg-3 col-md-12">
                    <img src="img/craftman/magic_gold_1.jpg" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                    <p class="text-center">Magic Gold</p>
                </div>

                <div class="col-lg-3 col-md-12">
                    <img src="img/craftman/red_ceramic-400.jpg" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                    <p class="text-center">Ceramic</p>
                </div>

                <div class="col-lg-3 col-md-12">
                    <img src="img/craftman/sapphire_0.jpg" class="img-fluid img-thumbnail mx-auto d-block" alt="Gold" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                    <p class="text-center">Sapphire</p>
                </div>

                <div class="col-lg-3 col-md-12">
                    <img src="img/craftman/Rubber2_0.jpg" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                         data-aos-easing="ease-out-cubic"
                         data-aos-duration="2000">
                    <p class="text-center">Rubber</p>
                </div>
            </div>
        </div>
    </div>




<!--            Part 2-->
    <div id="part-two" class="part-one">
        <div class="container-fluid">
            <div class="two-number number-sticky">
                <h1 data-aos="fade-up"
                    data-aos-anchor-placement="top-bottom"
                    data-aos-duration="2100">02</h1>
            </div>
            <div class="row">

                <div class="col-lg-6 col-md-12">

                </div>

                <div class="col-lg-6 col-md-12">
                    <div class="one-text">
                        <h1 data-aos="fade-left" data-aos-duration="1000">MOVEMENTS</h1>
                        <h3 data-aos="fade-up" data-aos-duration="1000">We enjoy uncompromising movements on precision, that are far ahead of their time.</h3>
                        <p data-aos="fade-up" data-aos-duration="1000">The Art of Fusion is expressed right through to the heart of the movement.
                            Simple watches with innovative watchmaking concepts, Hublot has created a range of unique
                            “in-house” movements. A unique design of the Unico automatic chronograph. An unparalleled power
                            reserve of Meca-10, Tourbillon and MP-11 calibers. A revolutionary motor approach with 11 MP-05
                            barrels and 50-day power reserve. In its “Art of Fusion,”
                            Hublot carries out a perfect symbiosis between functionality, architecture and design.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <video class="myVideo" autoplay playsinline loop muted>
                        <source src="videos/craftman/clip.mp4" type="video/mp4"/>

                    </video>
                </div>
            </div>
        </div>
    </div>

<!--Center-->
<div class="center-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 data-aos="zoom-in">HUBLOT MOUVEMENTS</h1>
            </div>
            <div class="col-lg-3 col-md-12">
                <img src="img/craftman/2.png" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                <p class="text-center">Unico</p>
            </div>

            <div class="col-lg-3 col-md-12">
                <img src="img/craftman/3.png" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                <p class="text-center">Meca-10 10-Day Power Reserve</p>
            </div>

            <div class="col-lg-3 col-md-12">
                <img src="img/craftman/4.png" class="img-fluid img-thumbnail mx-auto d-block" alt="Gold" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                <p class="text-center">Tourbillon Power Reserve 5 Days</p>
            </div>

            <div class="col-lg-3 col-md-12">
                <img src="img/craftman/5.png" class="img-fluid img-thumbnail  mx-auto d-block" alt="Gold" data-aos="flip-left"
                     data-aos-easing="ease-out-cubic"
                     data-aos-duration="2000">
                <p class="text-center">MP-11</p>
            </div>
        </div>
    </div>
</div>



<!--Part3-->
<div id="part-three" class="part-one part-three">
    <div class="container-fluid">
        <div class="three-number number-sticky">
            <h1 data-aos="fade-up"
                data-aos-anchor-placement="top-bottom"
                data-aos-duration="2100">03</h1>
        </div>
        <div class="row">

            <div class="col-lg-6 col-md-12">

            </div>

            <div class="col-lg-6 col-md-12">
                <div class="one-text">
                    <h1 data-aos="fade-left" data-aos-duration="1000">MANUFACTURE</h1>
                    <h3 data-aos="fade-up" data-aos-duration="1000">We have created a place to shape the future of watchmaking.</h3>
                    <p data-aos="fade-up" data-aos-duration="1000">Looking towards the future,
                        Hublot takes a new look at watchmaking by merging the innovation and tradition,
                        the high-tech and expert craftsmanship and the machine precision and beauty of movement
                        of its Manufacture. From the production of micro-components for movements to cases and dials,
                        or from fundamental research to the development of innovative materials, watchmakers, physicists,
                        chemists and engineers are united under the same roof, working in perfect synergy to create exceptional
                        watches that endlessly push technical and aesthetic boundaries..
                    </p>
                </div>
            </div>
        </div>

        <div class="row final-pic">
            <div class="col-lg-5 col-md-12 final-pic-picture" id="pic1">
                <img src="img/craftman/final1.jpg" class="img-fluid mx-auto d-block" alt="final">
            </div>
            <div class="col-lg-7 col-md-12 final-pic-picture" id="pic2">
                <img src="img/craftman/final%202.jpg" class="img-fluid mx-auto d-block" alt="final">
            </div>
        </div>
    </div>
</div>
<%- include("fooder") %>
<!--Script-->
<script type="text/javascript" src="js/jquery.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script type="text/javascript">

    // Sitcky Nav
    window.onscroll = function () {mySticky()};
    var navbar = document.getElementById("presentation-sticky");
    var sticky = navbar.offsetTop;

    function mySticky(){
        if(window.pageYOffset >= sticky){
            navbar.classList.add("sticky");
        }else{
            navbar.classList.remove("sticky");
        }
    }

    // Change Nav on scrolll
    window.addEventListener('scroll', event =>{
        let navigationLinks = document.querySelectorAll('div div h3 a');
        let fromTop = window.scrollY;

        navigationLinks.forEach(link =>{
            let section = document.querySelector(link.hash);
            let id = document.querySelector('#id1');
            if(section.offsetTop <= fromTop && section.offsetTop + section.offsetHeight > fromTop){
                link.classList.add('active');
                id.classList.remove('active');
            }else{
                link.classList.remove('active');
            }
        });
    });



</script>


</body>
</html>