<!DOCTYPE html>
<html lang="en">
<%- include("head") %>
<body>
<section class="section">
    <div class="container">
       <h1>Danh sách sản phẩm</h1>
        <ul>
            <li>id</li>
            <li>Giá Tiền</li>
            <li>Ảnh Sp</li>
            <li>Mô tả</li>
            <li>Lố lượng</li>
        </ul>
    </div>
</section>
</body>
</html>