
<!--kết thúc thẻ uppder-->
<div class="fooder">
    <div class="fooder_logo"></div>
    <img class="fooder_logo_img" src="img/logohublot4.jpg" alt="logohublot" >
    <div class="fooder_menu">
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">NEWSLETTER</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">jobs</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">PRESS</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">CONTACT US</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">SERVICES</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">TRACK AN ORDER</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">PRIVACY</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">LEGAL NOTICE & TERMS OF USE</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">WEBSITE TERMS AND CONDITIONS</a></div>
        <div class="fooder_menu_content"><a href="#" class="fooder_menu_content_a notamenu">MSA TRANSPARENCY</a></div>
    </div>
    <div class="fooder_language">
        <a href="#" class="fooder_language_link notamenu">
            <div class="fooder_language_english">
                <div class="fooder_language_english_span"><span class="fooder_language_span">english</span></div>
                <div class="fooder_language_english_icon"><i style=" color: red" class="fa" >&#xf107;</i></div>
            </div>
        </a>
        <a href="#" class="notamenu-fooder">
            <div class="fooder_language_vietnam">
                <div class="fooder_language_vietnam_span"><span class="fooder_language_span">viet nam</span></div>
                <div class="fooder_language_vietnam_icon"><i style=" color: red" class="fa">&#xf107;</i></div>
            </div>
        </a>
    </div>
    <div class="fooder_icon">
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf09a;</i></a></div>
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf16d;</i></a></div>
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf0d2;</i></a></div>
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf099;</i></a></div>
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf18a;</i></a></div>
        <div class="fooder_icon_link"><a href="#"><i style="color: #FFFFFF" class="fa">&#xf16a;</i></a></div>
    </div>
    <div class="fooder_fooder">
        <cite style="letter-spacing: 0.05vw">© 2020 Hublot - All intellectual property rights reserved</cite>
    </div>
</div>
