<footer>

    <div class="container-footer">
        <div class="col-sm-12 footer-head">
            <div class="col-sm-6"> KEEP ME UPDATED</div>
            <div class="col-sm-6"> </div>
        </div>
        <div class="col-sm-12 footer-head2">
            <div class="col-sm-6">I want to stay up date with the latest Hubolot news.</div>
            <div class="col-sm-6"></div>
        </div>
        <div class="col-sm-12  ">
            <div class="col-sm-6">
                <div class="col-sm-2 "></div>
                <a href="/link"><button class="col-sm-4 btn-default btn-lg "> SIGN UP</button></a>
            </div>
        </div>
    </div>
    <div class="container-footer2">
        <div>
            <img class="img-footer" src="img/d.png" height="109"  width="109"/>
        </div>
        <div class="container-fluid foodeer-huy">
            <div class="row ">
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span class="name-a">NEWSLETTER</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li">
                        <a class="name-aa" href="#"><span  class="name-a">JOBS</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">PRESS</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a href="#"><span  class="name-a">CONTACT US</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">SERVICES</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">TRACK AN ORDER</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">SERVICES</span> </a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">PRIVACY</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">WEBWITE TERMSAND CONDITIONS</span></a>
                    </div>
                </div>
                <div class="name">
                    <div class="li" >
                        <a class="name-aa" href="#"><span  class="name-a">MSA TRANSPARENCY</span></a>
                    </div>
                </div>
            </div>
            <div id="li-li" class="col-sm-12" >
                <div class="li">
                    <a class="name-aa" href="#" > <span class="bottom-li">ENGLISH</span></a>
                </div>
                <div class="li" >
                    <a class="name-aa" href="#"><spans class="bottom-li">UNITED STATES</spans> </a>
                </div>

            </div>
            <div class="icon">
                <a href="#"><i class="fab fa-twitter icon-a"></i></a>
                <a href="#"><i class="fab fa-facebook-f icon-a"></i></a>
                <a href="#"><i class="fab fa-instagram icon-a"></i></a>
                <a href="#"><i class="fab fa-pinterest icon-a"></i></a>
                <a href="#"><i class="fab fa-youtube icon-a"></i></a>
                <a href="#"><i class="fab fa-weibo icon-a"></i></a>
            </div>
        </div>
        <div class="foot-bottom col-12">
            © 2020 HUBLOT - ALL INTELLECTUAL PROPERTY RIGHTS RESERVED
        </div>
    </div>
</footer>