<head>
    <meta charset="UTF-8">
    <title>Trang chu</title>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <link rel="stylesheet" type="text/css" href="css/lab13.css"/>
    <link rel="stylesheet" type="text/css" href="css/sanpham.css"/>
    <link rel="stylesheet" type="text/css" href="bootstrap/bootstrap.css">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
</head>