<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOUTIQUES</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="css/teamwork-huy.css">
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
</head>
<body>
    <div class=" container">
        <h1 style="font-size: 65px;font-weight: 700;text-align: center">OUR BOUTIQUES</h1>
        <h2  style="font-size: 30px;line-height: 30px;text-align: center">We have boutiques all over the world, in the most exclusive locations. Discover our global themes.</h2>
            <form  method="get" action="#" >
                <input  class=" col-md-10" type="text" name="location" placeholder="  Search for city or town..." >
                <button class=" col-md-2 fontss"  type="button" name="locate" onclick="map()" >
                    <span class="glyphicon glyphicon-map-marker"></span></button>
            </form>
    </div>
    <div class="container-1" >
        <div class=" div1" >
            <div class="col-md-4" >
                <a class="change-a" href="#" target="_blank">
                    <figure class="col-md-12" >
                        <span style="max-height: max-content;max-width: max-content ;overflow: hidden"><img class="col-md-12" src="img/Huy-so1.jpg" /></span>
                        <figcaption>
                            GENEVA
                        </figcaption>
                        <figcaption class="figcaption1">
                            Rue du Rhône 86 , Geneva , 1204
                        </figcaption>
                        <figcaption class="figcaption2">
                            09:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12" >
                        <img class="col-md-12" src="img/huy-so2.jpg" />
                        <figcaption>
                            5TH AVENUE
                        </figcaption>
                        <figcaption class="figcaption1">
                            Hublot Boutique 5th Avenue
                        </figcaption>
                        <figcaption class="figcaption2">
                            07:16
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>

            </div>
            <div class="col-md-4 ">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12">
                        <img class="col-md-12" src="img/huy-so3.jpg" />
                        <figcaption>
                            GINZA
                        </figcaption>
                        <figcaption class="figcaption1">
                            3-5-9, Ginza, Chuo-ku / 中央区銀座3-5-9 , Tokyo / 東京都 , 104-0061                </figcaption>
                        <figcaption class="figcaption2">
                            16:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class=" div1">
            <div class="col-md-4">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12 " >
                        <img class="col-md-12 " src="img/huy-so4.jpg"/>
                        <figcaption>
                            VENDÔME
                        </figcaption>
                        <figcaption class="figcaption1">
                            10 Place Vendôme , Paris , 75001
                        </figcaption>
                        <figcaption class="figcaption2">
                            09:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12" >
                        <img class="col-md-12" src="img/huy-so5.jpg" />
                        <figcaption>
                            LONDON
                        </figcaption>
                        <figcaption class="figcaption1">
                            14 New Bond Street , London , W1S 3SX
                        </figcaption>
                        <figcaption class="figcaption2">
                            08:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12 " >
                        <img class="col-md-12" src="img/huy-so6.jpg" />
                        <figcaption>
                            HONG KONG HERITAGE
                        </figcaption>
                        <figcaption class="figcaption1">
                            Shop G16 & 17A, G/F, 1881 Heritage, 2A Canton Road, Tsimshatsui, Kowloon , Hong Kong
                        </figcaption>
                        <figcaption class="figcaption2">
                            15:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div  class="div1">
            <div class="col-md-4 col-sm-5 col-xs-7">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12 " >
                        <img class="col-md-12"  src="img/huyso7.png" />
                        <figcaption>
                            DUBAI MALL
                        </figcaption>
                        <figcaption class="figcaption1">
                            The Dubai Mall, Grand atrium, Level-G , Dubai
                        </figcaption>
                        <figcaption class="figcaption2">
                            11:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-7">
                <a class="" href="#" target="_blank">
                    <figure class="col-md-12 " >
                        <img class="col-sm-12" src="img/húyso8.jpg" />
                        <figcaption>
                            LAS VEGAS
                        </figcaption>
                        <figcaption class="figcaption1">
                            The Forum Shops at Caesars. 3500 Las Vegas Blvd. So., Suite D-11 , Las Vegas , NV 89109
                        </figcaption>
                        <figcaption class="figcaption2">
                            00:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-4 col-sm-5 col-xs-7">
                <a class="" href="#" target="_blank">
                    <figure class=" col-md-12 " >
                        <img class="col-md-12 " src="img/huyso9.jpg" />
                        <figcaption>
                            MONACO
                        </figcaption>
                        <figcaption class="figcaption1">
                            Allée François Blanc , Monaco , 98000
                        </figcaption>
                        <figcaption class="figcaption2">
                            09:41
                        </figcaption>
                        <figcaption class="div-fig"></figcaption>
                    </figure>
                </a>
            </div>
        </div>
    </div>
        <footer>
            <div class="container-footer2">
                <div class="container-fluid ">
                    <div class="row ">
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span class="name-a">NEWSLETTER</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li">
                                <a class="a-change" href="#"><span class="name-a" >JOBS</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">PRESS</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">CONTACT US</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">SERVICES</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">TRACK AN ORDER</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">SERVICES</span> </a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">PRIVACY</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">WEBWITE TERMSAND CONDITIONS</span></a>
                            </div>
                        </div>
                        <div class="name">
                            <div class="li" >
                                <a class="a-change" href="#"><span  class="name-a">MSA TRANSPARENCY</span></a>
                            </div>
                        </div>
                    </div>
                    <div id="li-li" class="col-md-12" >
                        <div class="li">
                            <a class="a-change" href="#" > <span class="bottom-li">ENGLISH</span></a>
                        </div>
                        <div class="li" >
                            <a class="a-change" href="#"><spans class="bottom-li">UNITED STATES</spans> </a>
                        </div>

                    </div>

                </div>
                <div class="foot-bottom col-12">
                    © 2020 HUBLOT - ALL INTELLECTUAL PROPERTY RIGHTS RESERVED
                </div>
            </div>

</footer>

</body>
</html>