*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 100%;
    background-image: url("../img/anhnen-huy.jpg");
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    color: #f5f5f5;
    padding-top: 50px;
    text-align: center;

}
.container-1{
    width: 100%;
    background-color: #0f0f0f;
    float: left;
    color: whitesmoke;
    font-size: 30px;
    text-align: left;
    padding-top: 30px;

}
.figcaption1{
    font-size: 20px;
}
.figcaption2{
    font-size: 25px;
    font-family: 'Yellowtail', cursive;
}

form{
    font-family: 'Yellowtail', cursive;
    font-size: 20px;
     margin: auto;
     justify-content: center;
}
.div1{
    height: 500px;

}
figure{
    margin: 15px 0px;
    transition: width 1s;
    position: relative;
}
figure:hover{
    width: 500px;
}
img{
    padding: 0;
}

.fontss{
    color: #d58512;
    margin: 0px;
}
.div1{
    height: 500px;
}

.div-fig{
    width: 65%;
    height: 0.5px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 8px;
    right: 25px;
}

.container-fluid{
    width: 100%;
    height: auto;
    background-color: black;
    text-align: center;
}

.li{
    color: white;
    font-size: 10px;
    padding: 30px;
    float: left;
}
.name{
    margin: 30px 0;
}
a{
    color: white; !important;
    text-decoration: none; !important;
}
a:hover{
    color: white; !important;
    text-decoration: none; !important;
}
.name-a:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: white;
    transition: 1s width ;
}
.name-a:hover:after{
    width: 100%;
}
#li-li{
    justify-content: center;
    display: flex;
    margin-top: 0px;
    padding: 0px;
}
.bottom-li{
    margin: 0px;
    padding: 0px;
    color: red;
}
.bottom-li:after{
    content: '';
    display: block;
    width: 0;
    height: 1px;
    color: red;
    background-color: red;
    transition: 1s width ease ;
}
.bottom-li:hover:after{
    width: 100%;
}
.icon-a{
    font-size: 20px;
    color: #f5f5f5;
    padding: 15px;
    margin-bottom: 30px;
}
.foot-bottom{
    color: #bfbfbf;
    font-size: 10px;
}

.header{
    width: 100%;
    height: 4vw;
    border-top: 0.05vw solid #cccccc;
    border-bottom: 0.05vw solid #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1.35%;
}
.header:before{
    content: " ";
    border: 0.05vw solid #000000;
    padding: 1.3vw 1.3vw;
    position: absolute;
    left: 8vw;
    top: 1.6vw;
}
@media (min-width: 900px) {
    .header:before{
        display: none;
    }
}
@media (max-width: 900px) {
    .header{
        width: 100%;
        height: 5.8vw;
    }
}

.header_left{
    width: 75%;
    padding: 1.15% 0;
    border-left: 0.05vw solid #cccccc;
    border-right: 0.05vw solid #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 900px) {
    .header_left{
        width: 70%;
        height: 5.8vw;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
    }
}
.header_menu{
    width: 0;
    height: 5.8vw;
}
@media (min-width: 900px) {
    .header_menu{
        display: none;
        height: 5.8vw;
    }
}
@media (max-width: 900px) {
    .header_menu{
        max-width: 16vw;
        min-width: 16vw;
        padding: 2.5% 0;
        display: block;
        border-right: 0.05vw solid #cccccc;
        text-align: center;
    }
}

.header_left_logo{
    width: 18.23%;
}
@media (max-width: 900px) {
    .header_left_logo{
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }
}
.header_left_logo img{
    display: block;
    max-width: 75%;
    margin: 0 auto;
}
@media (max-width: 900px) {
    .header_left_logo img{
        max-width: 120%;
    }
}
.header_left_name{
    width: 81.77%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 86%;
    font-weight: 700;
    text-transform: uppercase;
}
@media (max-width: 900px) {
    .header_left_name{
        width: 0;
        display: none;
    }
}
.header_left_name_span{
    display: inline-block;
    position: relative;
    transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.header_left_name_span:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1vw;
    background: #000000;
    /*-webkit-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.header_left_name_span:hover:before {
    opacity: 0.8;
    width: 100%;
}
.header_left_watches{
    margin-right: 8.51%;
}
.header_left_ourworld{
    margin-right: 8.51%;
}
.header_left_boutiques{

}

.header_right{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
@media (max-width: 900px) {
    .header_right{
        width: 30%;
        height: 100%;
        border-right: 0.05vw solid #cccccc;
    }
}
.header_right_hub{
    width: 38.23%;
    font-size: 86%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.header_right_hub_hublotista{
    display: inline-block;
    position: relative;
    transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.header_right_hub_hublotista:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.1vw;
    background: #000000;
    /*-webkit-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.header_right_hub_hublotista:hover:before {
    opacity: 0.8;
    width: 100%;
}
#fa{
    display: none;
}

@media (max-width: 900px) {
    .header_right_hub{
        display: none;
    }
}
.header_right_icon1{
    width: 20.59%;
    padding: 4.8% 0;
    border-left: 0.05vw solid #cccccc;
    border-right: 0.05vw solid #cccccc;
    display: block;
    text-align: center;
    font-weight: 900;
    font-size: 1.2vw;
}
@media (max-width: 900px) {
    .header_right_icon1{
        width: 50%;
        font-size: 2vw;
        border-left: none;
    }
}
.header_right_icon2{
    width: 20.59%;
    text-align: center;
    font-size: 1.2vw;
}
@media (max-width: 900px) {
    .header_right_icon2{
        width: 50%;
        font-size: 2vw;
    }
}
.header_right_icon3{
    width: 20.59%;
    padding: 4.2% 0;
    border-left: 0.05vw solid #cccccc;
    border-right: 0.05vw solid #cccccc;
    text-align: center;
    font-size: 1.2vw;
}
@media (max-width: 900px) {
    .header_right_icon3{
        display: none;
    }
}
@media (max-width: 900px) {
    .header_menu{
        z-index: 5;
        width: 100%;
    }
}

@media (min-width: 900px) {
    .header_menu{
        display: none;
    }
}
.burger {
    position: absolute;
    z-index: 10;
    left: 8vw;
    top: 1.6vw;
    cursor: pointer;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 0.6vw 0.1vw;
}
.burger__patty {
    width: 2.5vw;
    height: 0.25vw;
    margin: 0 0 0.4vw 0;
    background: #171717;
    transition: all .8s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
    margin-bottom: 0;
}
.burger--close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
    background: #171717;
    -webkit-transform: rotate(45deg) translate( 0.5vw, 0.4vw);
    transform: rotate(45deg) translate( 0.5vw,  0.4vw);
}
.burger--close .burger__patty:nth-child(2) {
    opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
    background: #171717;
    -webkit-transform: rotate(-45deg) translate( 0.5vw, -0.5vw);
    transform: rotate(-45deg) translate( 0.5vw, -0.5vw);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 5.8vw;
    visibility: hidden;
    height: 100vw;
}
.menu--active {
    visibility: visible;
}

.menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    justify-content: start;
    align-items: start;
}

.menu__list {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #171717;
    list-style-type: none;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.menu__item {
    padding-left: 5.8vw;
    -webkit-transform: translate3d(250%, 0, 0);
    transform: translate3d(250%, 0, 0);
    transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menu__link.watches{
    font-size: 3.6vw;
}
.menu__link.watches:hover{
    opacity: 0.3;
}
.menu__link.ourworld{
    font-size: 3.6vw;
}
.menu__link.ourworld:hover{
    opacity: 0.3;
}
.menu__link.Boutiques{
    font-size: 3.6vw;
}
.menu__link.Boutiques:hover{
    opacity: 0.3;
}
.menu__link.CART{
    font-size: 1.2vw;
    margin-top: 6vw;
}
.menu__link.CART:hover{
    opacity: 0.3;
}
.menu__link.HUBLOTISTA{
    font-size: 1.2vw;
}
.menu__link.HUBLOTISTA:hover{
    opacity: 0.3;
}
.menu__link {
    display: inline-block;
    position: relative;
    font-size: 2.4vw;
    padding: 1.5vw 0;
    font-weight: 400;
    color: #171717;
    text-decoration: none;
    transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
    content: "";
    position: absolute;
    bottom: 1vw;
    left: 0;
    width: 0;
    height: 0.1vw;
    background: #000000;
    /*-webkit-transform: translateX(100%);*/
    /*transform: translateX(100%);*/
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
    opacity: 0.8;
    width: 100%;
}
.menu .menu__item:nth-child(1) {
    transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
    transition-delay: 0.3s;
}
.menu .menu__item:nth-child(3) {
    transition-delay: 0.5s;
}
.menu .menu__item:nth-child(4) {
    transition-delay: 0.7s;
}
.menu .menu__item:nth-child(5) {
    transition-delay: 0.9s;
}
.menu .menu__item:nth-child(6) {
    transition-delay: 0.11s;
}

@media screen and (max-width: 768px) {
    ul.menu__list,
    ul.menu__list--active,
    div.menu__brand--active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .menu__list {
        height: 75vh;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .menu__link {
        font-size: 24px;
    }
}
/*ket thuc the header*/
.notamenu{
    color: #171717;
    text-decoration: none;
    list-style: none;
}
.notamenu:hover{
    color: #f0f0f0;
    text-decoration: none;
}